@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #fff;
    --cor1: #2ca462;
    --cor2:#1b7d48;
    --cor3:#084e27;
    --cor4:#023C1B;

    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-destaque: Verdana, Geneva, Tahoma, sans-serif;;
    --fonte-android: 'idroid', cursive;
}

header {
    margin: -21px -8px 0px -8px;
    text-align: center;
    background-image: linear-gradient(180deg, #2ca462, #1b7d48, #084e27, #023C1B);
    color: var(--cor0);
    padding: 40px 0px 10px 20px;
    font-family: var(--fonte-destaque);
}

header>h1 {
    font-family: var(--fonte-destaque);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.533);

}

h1 {
    padding-top: 10px;
    font-family: var(--fonte-android);
}
h2 {
    text-align: center;
    font-family: var(--fonte-android);
    color: var(--cor2);
}

.mark {
    background-image: linear-gradient(to right, #1b7d4936, var(--cor0));
}

nav {
    background-color: var(--cor4);
    margin-left: -20px;
    text-align: start;
    padding-top: 7px
}

nav > a {
    margin-left: 16px;
    color: var(--cor0);
    font-weight: bold;
    text-decoration: none;
}

main {
    margin: -20px auto 0px auto;
    background-color: var(--cor0);
    max-width: 1050px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--fonte-padrao);
    box-shadow: 10 10 10;
}

main > h1 {
    color: var(--cor2);
}
main > h1, h2 {
    text-align: start;
    padding-left: 10px;
}

main > p {
    padding-left: 10px;
    text-align: start;
}

main > p > b {
    color: var(--cor1);
}
main > img {
    margin-left: auto;
    margin-right: auto;
  }

  main > video {
    display: block;
    margin: auto;
    text-align: center;
}

body {
    background-color: #e8e7c4;
    margin-top: 0px;
}

a.externo::after {
    content: '\1F517';
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: block;
    margin: auto;
    width: 75%;
    height: 615px;
    padding: 5px;
}

.iframe-container {
    background-color: green;
    margin: -10px;
}

.versions-container {
    margin-top: 35px;       
    padding-left: 5px;
    background: #19673b;

    border-radius: 10px 10px 0px 0px;
}

.versions {
    
    text-align: start;
}

aside > h3 {
    background-color: #19673b;
    color: white;
}

footer {
    background-color: var(--cor4);
    color: white;
    max-width: 1050px;
    text-align: center;
}

aside > ul {
    list-style: inside;
    columns: 2;
    list-style-type: "\2714\00A0\00A0";
}


footer > p > a {
    text-decoration: none;
    color: var(--cor2);
}

footer > p > a:hover {
    text-decoration: underline;
    background-color: #fff;
    color: var(--cor2);
}

